/* -----------------header main container---------- */
.container-fluid_{  
    background-color: #16411e; 
    height: 100% !important;
}
.container-fluid_:hover{
  background: linear-gradient(109.6deg, rgb(5, 84, 94) 16%, rgb(89, 89, 89) 91.1%);
}



/* -----------------tender logo---------------- */
.Headerlogo{

  display:flex;
  justify-content: flex-start;
  width: 230px;
  height: 50px;
}
@media (max-width:536px) {
  .Headerlogo{
    width: 139px !important;
    height: 36px !important;
    padding-top: 3px;
    margin-top: 3.5px;
  }
}

/* ----------------nav menue items-------------------*/
.nav-link {
  display: flex;
  align-items: center !important;
  justify-content: center;
  color: whitesmoke; 
  font-weight: lighter;
  font-family:Arial, Helvetica, sans-serif ;
  letter-spacing: 1px;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, font-size 0.3s ease;
}
.nav-link:hover {
  color: black; 
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  border-radius: 50px;
  font-size: 20px;
  font-weight: lighter;
}
.nav-link:hover .about_circle {
  border: 2px solid black !important; 
}

/*nav item icons */
.icons {
    margin-left: -10px;
}
.icons:hover{
    color : black;
}
.hamburg_CloseIcon:focus{
  border: 0px !important;
  outline: none !important;
  box-shadow: none !important;
}
.hamburg_CloseIcon{
  color: whitesmoke !important;
}
.btn-close{
  background-color: white !important;
  color: white !important;
}

/* -------------nav menue items in offcanvas--------------------- */

.offcanvas{
  background-color: #1a6a29; 
}
.offcanvas:hover{
  background: linear-gradient(109.6deg, rgb(5, 84, 94) 16%, rgb(89, 89, 89) 91.1%) !important;
}
.logo_in_offcanvas{
  height: auto ;
  width: 100%;
  padding: 9px;
}

.tenderLogoRow{
  border-bottom: 1px solid grey !important;
  border-top: 1px solid grey !important;

}
.subcribe-transparent{
  text-decoration : none !important;
  background-color: transparent; 
  color: white; 
  border: 2px solid white; 
  width: 240px !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: auto !important;
}
.subcribe-transparent:hover{
  background: black !important;
  color: whitesmoke !important;
}

@media (max-width:992px) {
  .nav-link{
    justify-content: space-between !important;
    flex-direction: row-reverse !important;
    padding: 9px;
  }
  .nav-link:hover{
    border-radius: 0px !important;
  }
}
@media (max-width:559px) {

  .subcribe-transparent{
    width: 110px !important;
  }
}

/* -----------------------whatsapp button------------------------ */
.whatsapp_inquirey  {
   display:flex;
   justify-content: end;
   align-items: center;
   gap: 10px;
}
.whatsapp_inquirey .btn_{
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 150px;
}
.btn-outline-success{
  border: 1px solid white !important;
}
@media (max-width: 800px) {
  .numbers_{
    display: none !important;
  }  
  .whatsapp_inquirey .btn_{
    width: 100% !important;
  }
}
@media (max-width: 350px) {
  
  .whatsapp_inquirey .btn_{
    width: 90% !important;
    height: auto !important;
    font-size: 10px !important;
    padding: 10px !important;
  }
  .whstapplogoInSmallScreen{
    height: 20px;
    width: 20px;
  }
}
@media (min-width:750px) and (max-width:1200px) {
  .numbers_{
    display: flex !important;
  } 
}

/* Line b/w hamburg and whatsapp icon  */
.vertical-line {
  width: 0.5px; 
  height: 40px; 
  background-color: #ffffff; 
}



/* -------------marquee moving headline------------------- */
.marquee_msg {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: aliceblue;
    font-weight: bold;
    width: 100%;
    padding: 10px; 
    box-shadow: 0 10px 10px rgba(8, 225, 95, 0.5);
    font-size: 25px; 
    text-align: center;
    letter-spacing: 0.8px;
}


/* ---------------home page ----------------*/
.home h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 4em;
}

.home h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 2em;
    align-items: center;
}